<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>

  <body>
    <h1>Begin</h1>
    <p>
      This project was inspired by
      <a href="https://codecombat.com/">codecombat.com</a>
    </p>
    <p>In it, you have to bring the character to the cheese.</p>
    <p>To do this you need to use the character control commands:</p>
    <p>
      For the character to start moving, you must enter
      invoker.SetCommand(receiver.following).
    </p>
    <p>
      For example, the character will move to the right:
      invoker.SetCommand(receiver.right).
    </p>
    <p>After that you can choose left, up and down.</p>
  </body>
</html>
